# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
+ List popular languages for Data Science
+ List libraries for Data Science
+ List Open Source Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. PyTorch
3. Pandas
4. TensorFlow

Create a markdown cell with a table of Data Science tools

 |Data Science Tools|
 |------------------|
 |Jupyter Notebooks|
 |Zeppelin Notebooks|
 |R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Toni Arias